$color-primary: rgb(33, 222, 248);
$color-secondary: rgb(179, 233, 50);
$color-tertiary: #f49842;

$color-grey-light-1 : #f7f7f7;

//Font
$default-font-size: 2rem;



//Grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;