<section id="footer">
    <div class="container">
        <div class="row pt-3">
            <div class="col-6 text-center">
                <h3>Location</h3>
                <hr>
            </div>
            <div class="col-6 text-center">
                <h3>Hours</h3>
                <hr>
                <div id="hoursList">
                    <p class="hoursPtag">Monday:<span class="dateDependent"></span></p>
                    <p class="hoursPtag">Tuesday:<span class="dateDependent"></span></p>
                    <p class="hoursPtag">Wednesday:<span class="dateDependent"></span></p>
                    <p class="hoursPtag">Thursday:<span class="dateDependent"></span></p>
                    <p class="hoursPtag">Friday:<span class="dateDependent"></span></p>
                    <p class="hoursPtag">Saturday:<span class="dateDependent"></span></p>
                    <p class="hoursPtag">Sunday:<span class="dateDependent"></span></p>
                </div>
            </div>
        </div>
        <p class="text-center mt-2">Created by <a href="http://www.ryantalbert.com">Ryan Talbert</a> © <span id="copyright"></span></p>
    </div>
</section>
<script src="/troSno.js"></script>
</body>
</html>