<section id="footer">
    <div class="container">
        <div class="row pt-3">
            <div class="col-6 text-center">
                <h3>Locations</h3>
                <hr>
                <p class="locations">126 Old Meramec Station Rd. Manchester, MO 63021</p>
                <p class="locations">4175 Holly Hills Blvd St. Louis, MO 63116</p>
                <p class="locations">16360 Truman Rd, Ellisville, MO 63011</p>
            </div>
            <div class="col-6 text-center">
                <h3>Hours</h3>
                <hr>
                <div id="hoursList">
                    <p class="hoursPtag">Monday:<span class="dateDependent"></span></p>
                    <p class="hoursPtag">Tuesday:<span class="dateDependent"></span></p>
                    <p class="hoursPtag">Wednesday:<span class="dateDependent"></span></p>
                    <p class="hoursPtag">Thursday:<span class="dateDependent"></span></p>
                    <p class="hoursPtag">Friday:<span class="dateDependent"></span></p>
                    <p class="hoursPtag">Saturday:<span class="dateDependentWeekend"></span></p>
                    <p class="hoursPtag">Sunday:<span class="dateDependentWeekend"></span></p>
                </div>
            </div>
        </div>
        <p class="text-center mt-2">Created by <a href="http://www.ryantalbert.com">Ryan Talbert</a> © <span class="copyright"></span></p>
    </div>
</section>
<script src="/employment.js"></script>

</body>
</html>