<% include ../partials/header %>

<section class="section-employment">

    <div class="margin">
        <h2 class="u-center-text header">Come Work With Us!</h2>

        <p class="supportingText">We are always looking for happy and energetic people with a strong work ethic to help us make the best shaved ice possible!
            We are currently hiring for the <span class="copyright"></span> season! If you would like to join our team please fill
            out the application below!
        </p>
    </div>

    <div class="application">
        <h2>Job Application</h2>
        <hr>
        <p class="sideNote">Fields marked with an asterisk (*) must be filled out before submitting.</p>

        <form action="/employment" method="POST">
            <div class="extraSpace">
                    <div class="form-row">
                            <div class="col-12 col-lg">
                                <label for="firstName">First Name*</label>
                                <input type="text" name="firstName" class="form" id="" placeholder="First Name" required>
                            </div>
                            <div class="col-6 col-lg-1">
                                <label for="">M.I.</label>
                                <input type="text" name="middleInitial" class="form" id="" placeholder="Initial" maxlength="1">
                            </div>
                            <div class="col-12 col-lg">
                                <label for="">Last Name*</label>
                                <input type="text" name="lastName" class="form" id="" placeholder="Last Name" required>
                            </div>
                    </div>
            </div>
                <hr>
            <div class="extraSpace">
                    <div class="form-row">
                            <div class="col-sm">
                                <label for="address">Address</label>
                                <input type="text" class="form" placeholder="Address" name="homeAddress">
                            </div>
                        </div>
        
                        <div class="form-row">
                                <div class="col-sm-12 col-lg-4">
                                        <label for="address">City</label>
                                        <input type="text" class="form" placeholder="City" name="city">
                                    </div>
                                <div class="col-sm-12 col-lg-4">
                                        <label for="address">State</label>
                                        <input type="text" class="form" placeholder="State" name="state" maxlength="2">
                                    </div>
                                    <div class="col-6 col-lg-4">
                                        <label for="address">Zip Code</label>
                                        <input type="text" class="form" placeholder="Zip Code" name="zipCode" maxlength="5">
                                    </div>
                        </div>
            </div>
                <hr>
            <div class="extraSpace">
                    <div class="form-row">
                            <div class="col-12 col-lg-6">
                                <label for="phoneNumber">Phone Number*</label>
                                <input type="text" class="form" name="phoneNumber" id="" placeholder="Phone Number" maxlength="10" required>
                            </div>
                            <div class="col-12 col-lg-6">

                                <label for="text" class="text-center">Do you recieve text messages?</label>
                                <div class="radio justify-content-center" style="height: 4rem">
                                        
                                        <input type="radio" id="radio1" class="align-self-center" name="doYouRecieveText" value="yes">
                                        <label class="align-self-end" for="radio1">Yes</label> 
                                        <input type="radio" id="radio2" class="align-self-center" name="doYouRecieveText" value="no">
                                        <label class="align-self-end" for="radio2">No</label> 
                                             
                                </div>
                                    
                            </div>
                        </div>
            </div>
                <hr>
            <div class="extraSpace">
                <div class="form-row">
                    <div class="col-12 col-lg-6">

                        <label for="entitledToWorkInUs" class="text-center">Are you entitled to work in the United States?*</label>
                        <div class="radio justify-content-center" style="height: 4rem">
                                
                                <input type="radio" id="entitled1" class="align-self-center" name="entitledToWorkInUs" value="yes" required>
                                <label class="align-self-end" for="entitled1">Yes</label> 
                                <input type="radio" id="entitled2" class="align-self-center" name="entitledToWorkInUs" value="no">
                                <label class="align-self-end" for="entitled2">No</label> 
                                     
                        </div>
                            
                    </div>
                    <div class="col-12 col-lg-6">

                        <label for="sixteenOrOver" class="text-center">Are you 16 or older?*</label>
                        <div class="radio justify-content-center" style="height: 4rem">
                                
                                <input type="radio" id="sixteen1" class="align-self-center" name="sixteenOrOver" value="yes" required>
                                <label class="align-self-end" for="sixteen1">Yes</label> 
                                <input type="radio" id="sixteen2" class="align-self-center" name="sixteenOrOver" value="no">
                                <label class="align-self-end" for="sixteen2">No</label> 
                                     
                        </div>
                            
                    </div>
                    <div class="col-12 col-lg-6">

                        <label for="felonyConviction" class="text-center">Have you been convicted of a felony or been incarcerated in connection with a felony in the past seven years?*</label>
                        <div class="radio justify-content-center" style="height: 4rem">
                                
                                <input type="radio" id="felonyConviction1" class="align-self-center" name="felonyConviction" value="yes">
                                <label class="align-self-end" for="felonyConviction1">Yes</label> 
                                <input type="radio" id="felonyConviction2" class="align-self-center" name="felonyConviction" value="no" required>
                                <label class="align-self-end" for="felonyConviction2">No</label> 
                                     
                        </div>
                            
                    </div>

                    <div class="col-12 col-lg-6">
                        <label for="convictionExplained">If yes, please explain:</label>
                        <textarea name="convictionExplained" id="convictionExplained" cols="30" rows="3" maxlength="150"></textarea>
                    </div>

                    <div class="col-12 col-lg-6">
                        <label for="dateYouCanBeginWorking">Date you can begin working?*</label>

                        <div class="d-flex justify-content-center">
                            <input type="date" name="dateYouCanBeginWorking" id="dateYouCanBeginWorking" required>
                        </div>
                        
                    </div>
                    <div class="col-12 col-lg-6">
                        <label for="favoriteFlavor">What is your favorite Tropical Sno flavor?</label>

                        <input class="form" type="text" name="favoriteFlavor" id="favoriteFlavor" placeholder="Favorite Flavor">
                    </div>
                </div>
            </div>
            <hr>
            <div class="extraSpace">
                <div class="col-12 text-center prevWork">Recent Work Experience (If you have not worked before, don't fill out!)</div>

                <div class="form-row">
                    <div class="col-12 col-lg-6">
                        <label for="employer">Employer</label>
                        <input type="text" class="form" placeholder="Employer" name="employer">
                    </div>

                    <div class="col-12 col-lg-6">
                        <label for="addressWork">Address</label>
                        <input type="text" class="form" placeholder="Address" name="addressWork">
                    </div>
                </div>

                <div class="form-row">
                            <div class="col-12 col-lg-4">
                                <label for="cityWork">City</label>
                                <input type="text" class="form" placeholder="City" name="cityWork">
                            </div>
                            <div class="col-12 col-lg-4">
                                <label for="stateWork">State</label>
                                <input type="text" class="form" placeholder="State" name="stateWork" maxlength="2">
                            </div>
                            <div class="col-6 col-lg-4">
                                <label for="zipCodeWork">Zip Code</label>
                                <input type="text" class="form" placeholder="Zip Code" name="zipCodeWork">
                            </div>
                </div>

                <div class="form-row">
                    <div class="col-12 col-lg-6">
                        <label for="phoneNumberWork">Telephone</label>
                        <input type="text" class="form" name="phoneNumberWork" id="" placeholder="Telephone">
                    </div>
                    <div class="col-12 col-lg-6">
                        <label for="supervisorName">Supervisor Name</label>
                        <input type="text" class="form" name="supervisorName" id="" placeholder="Supervisor Name">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-12 col-lg-6">
                        <label for="startDate">Start Date</label>

                        <div class="d-flex justify-content-center">
                            <input type="date" name="startDate" id="startDate">
                        </div>
                        
                    </div>
                    <div class="col-12 col-lg-6">
                        <label for="endDate">End Date</label>

                        <div class="d-flex justify-content-center">
                            <input type="date" name="endDate" id="endDate">
                        </div>
                        
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-12 col-lg-6">
                        <label for="jobTitle">Job Title</label>
                        <input type="text" class="form" name="jobTitle" id="" placeholder="Job Title">
                    </div>
                    <div class="col-12 col-lg-6">
                        <label for="payRate">Pay Rate</label>
                        <input type="text" class="form" name="payRate" id="" placeholder="Pay Rate">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label for="leaveReason">Reason for Leaving?</label>
                        <textarea name="leaveReason" id="leaveReason" cols="30" rows="5" maxlength="150"></textarea>
                    </div>
                </div>

                <div class="col">

                    <label for="contactThem" class="text-center">May we contact them?</label>
                    <div class="radio justify-content-center" style="height: 4rem">
                            
                            <input type="radio" id="contact1" class="align-self-center" name="mayWeContactThem" value="yes">
                            <label class="align-self-end" for="contact1">Yes</label> 
                            <input type="radio" id="contact2" class="align-self-center" name="mayWeContactThem" value="no">
                            <label class="align-self-end" for="contact2">No</label> 
                                 
                    </div>
                        
                </div>
                <hr>

                <div class="extraSpace">
                    <div class="col-12 text-center prevWork">Work Experience</div>
    
                    <div class="form-row">
                        <div class="col">
                            <label for="employer2">Employer</label>
                            <input type="text" class="form" placeholder="Employer" name="employer2">
                        </div>
    
                        <div class="col">
                            <label for="address2">Address</label>
                            <input type="text" class="form" placeholder="Address" name="address2">
                        </div>
                    </div>
    
                    <div class="form-row">
                                <div class="col-4">
                                    <label for="cityWork2">City</label>
                                    <input type="text" class="form" placeholder="City" name="cityWork2">
                                </div>
                                <div class="col-4">
                                    <label for="stateWork2">State</label>
                                    <input type="text" class="form" placeholder="State" name="stateWork2" maxlength="2">
                                </div>
                                <div class="col-4">
                                    <label for="zipCodeWork2">Zip Code</label>
                                    <input type="text" class="form" placeholder="Zip Code" name="zipCodeWork2">
                                </div>
                    </div>
    
                    <div class="form-row">
                        <div class="col-12 col-lg-6">
                            <label for="phoneNumberWork2">Telephone</label>
                            <input type="text" class="form" name="phoneNumberWork2" id="" placeholder="Telephone">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="supervisorName2">Supervisor Name</label>
                            <input type="text" class="form" name="supervisorName2" id="" placeholder="Supervisor Name">
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="col-12 col-lg-6">
                            <label for="startDate2">Start Date</label>
    
                            <div class="d-flex justify-content-center">
                                <input type="date" name="startDate2" id="startDate2">
                            </div>
                            
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="endDate2">End Date</label>
    
                            <div class="d-flex justify-content-center">
                                <input type="date" name="endDate2" id="endDate2">
                            </div>
                            
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="col-12 col-lg-6">
                            <label for="jobTitle2">Job Title</label>
                            <input type="text" class="form" name="jobTitle2" id="" placeholder="Job Title">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="payRate2">Pay Rate</label>
                            <input type="text" class="form" name="payRate2" id="" placeholder="Pay Rate">
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="col">
                            <label for="leaveReason2">Reason for Leaving?</label>
                            <textarea name="leaveReason2" id="leaveReason2" cols="30" rows="5" maxlength="150"></textarea>
                        </div>
                    </div>
    
                    <div class="col">
    
                        <label for="contactThem2" class="text-center">May we contact them?</label>
                        <div class="radio justify-content-center" style="height: 4rem">
                                
                                <input type="radio" id="contact3" class="align-self-center" name="MayWeContactThem2" value="yes">
                                <label class="align-self-end" for="contact3">Yes</label> 
                                <input type="radio" id="contact4" class="align-self-center" name="MayWeContactThem2" value="no">
                                <label class="align-self-end" for="contact4">No</label> 
                                     
                        </div>
                            
                    </div>
                    <hr>
                    
                    <div class="extraSpace">
                        <div class="col-12 text-center prevWork">Availability</div>

                        <p id="availabilityExplanation" class="text-center">Our hours consist of an afternoon shift (2pm to 6pm) and an evening shift (6pm to 10pm) every day! If you can work one shift per day please select it. If you can work anytime during a certain day select all. If you cannot work that day select off.</p>
                    
                        <div id="dateAvailability" class="form-row d-flex justify-content-around text-center flex-column flex-lg-row">
                            <div>
                                <label for="monday">Monday*</label>

                                <select name="monday" id="monday" required>
                                    <option value="">Choose an Option</option>
                                    <option value="all">All</option>
                                    <option value="afternoon">Afternoon</option>
                                    <option value="night">Night</option>
                                    <option value="off">Off</option>
                                    
                                </select>

                            </div>
                            <div>
                                <label for="tuesday">Tuesday*</label>

                                <select name="tuesday" id="tuesday" required>
                                    <option value="">Choose an Option</option>
                                    <option value="all">All</option>
                                    <option value="afternoon">Afternoon</option>
                                    <option value="night">Night</option>
                                    <option value="off">Off</option>
                                    
                                </select>

                            </div>
                            <div>
                                <label for="wednesday">Wednesday*</label>

                                <select name="wednesday" id="wednesday" required>
                                    <option value="">Choose an Option</option>
                                    <option value="all">All</option>
                                    <option value="afternoon">Afternoon</option>
                                    <option value="night">Night</option>
                                    <option value="off">Off</option>
                                    
                                </select>

                            </div>
                            <div>
                                <label for="thursday">Thursday*</label>

                                <select name="thursday" id="thursday" required>
                                    <option value="">Choose an Option</option>
                                    <option value="all">All</option>
                                    <option value="afternoon">Afternoon</option>
                                    <option value="night">Night</option>
                                    <option value="off">Off</option>
                                    
                                </select>

                            </div>
                            <div>
                                <label for="friday">Friday*</label>

                                <select name="friday" id="friday" required>
                                    <option value="">Choose an Option</option>
                                    <option value="all">All</option>
                                    <option value="afternoon">Afternoon</option>
                                    <option value="night">Night</option>
                                    <option value="off">Off</option>
                                    
                                </select>

                            </div>
                            <div>
                                <label for="saturday">Saturday*</label>

                                <select name="saturday" id="saturday" required>
                                    <option value="">Choose an Option</option>
                                    <option value="all">All</option>
                                    <option value="afternoon">Afternoon</option>
                                    <option value="night">Night</option>
                                    <option value="off">Off</option>
                                    
                                </select>

                            </div>
                            <div>
                                <label for="sunday">Sunday*</label>

                                <select name="sunday" id="sunday" required>
                                    <option value="">Choose an Option</option>
                                    <option value="all">All</option>
                                    <option value="afternoon">Afternoon</option>
                                    <option value="night">Night</option>
                                    <option value="off">Off</option>
                                    
                                </select>

                            </div>
                            
                            
                        </div>
                        <div class="form-row">
                            <label for="daysNotAvailableToWork">List days you cannot work this summer* (vacation, wedding, summer school etc.)</label>
                            <textarea name="daysNotAvailableToWork" id="daysNotAvailableToWork" cols="30" rows="5" maxlength="150" required></textarea>
                        </div>

                        <div class="col">

                            <label for="locationAppliedFor" class="text-center" style="margin-bottom: 4rem;">Which Location are you applying for?*</label>
                            
                            <div class="text-center" id="locationAppliedFor">
                                <select name="locationAppliedFor" required>
                                        <option value="">Choose an Option</option>
                                        <option value="Manchester">Manchester, MO</option>
                                        <option value="South City">South City, MO</option>
                                        <option value="Ellisville">Ellisville, MO</option>
                                 </select>
                            </div>
                                
                                    
                                     
                                         
                            </div>
                                
                        </div>

                    </div>

                    <hr>

                    <div class="extraSpace">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="disclaimer" required>
                            <label class="form-check-label" for="disclaimer">
                                    Disclaimer – By checking, I hereby certify that the above information, to the best of my knowledge, is correct. I understand that falsification of this information may prevent me from being hired or lead to my dismissal if hired.
                            </label>                    
                        </div>
            </div>
            </div>
            <button id=submitButton class="btn btn-lg btn-success">Submit</button>
        </form>
    </div>
</section>

<% include ../partials/footerEmployment %>