<% include ../partials/header %>


<section id="showcase" class="d-flex justify-content-center align-items-center">
    <!-- <div id="header" class="container text-center text-white"> -->
        <img id="rAndM" src="/images/r&mLogo.png" alt="sas">
        <img src="https://www.tropicalsno.com/wp-content/uploads/header-logo.png" alt="logo">
        <!-- <h1 class="display-1">R&M Tropical Sno</h1>
        <p class="lead">Saint Louis's finest shaved ice!</p> -->
    <!-- </div> -->
</section>

<main>
    <section class="section-about" id="locations">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Locations in St. Louis
            </h2>
        </div>
        
        <div class="customRow">
            <div class="col-1-of-2" id="locationText">
                <div id="starterText">
                    <h3 class="heading-tertiary u-center-text u-margin-bottom-small">
                            We've got one near you!
                    </h3>
                    <p class="paragraph">
                        With 3 locations evenly spread across St. Louis, we're guaranteed to be near you so you can satisfy your shaved ice needs whenever the craving hits!
                    </p>
                </div> 
            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <div class="overlay overlay--p1"></div>
                    <div class="overlay overlay--p2"></div>
                    <div class="overlay overlay--p3"></div>
                    <img src="/images/manchester.jpg" alt="Manchester" class="composition__photo composition__photo--p1">
                    <img src="https://s3-media2.fl.yelpcdn.com/bphoto/-Kbg7_IUl_byBPYquSrqUw/o.jpg" alt="City" class="composition__photo composition__photo--p2">
                    <img src="/images/wildwood.jpg" alt="placeholder" class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>
    </section>

    <section id="flavors" class="section-flavors">
        <div class="customRow">
            <div id="flavorHeader">
                <h3 class="text-center">Flavors</h3>
                <h4 >(<span id="flavorInstruction">hover over</span> a flavor)</h4>
            </div>
            <div id="flavor-box-1" class="col-1-of-4 feature-box mobileLook">
                <div id="flavorList1">

                </div>
            </div>
            <div id="flavor-box-2" class="col-1-of-4 feature-box mobileLook">
                <div id="flavorList2">

                </div>
            </div>
            <div id="flavor-box-3" class="col-1-of-4 feature-box mobileLook">
                <div id="flavorList3">

                </div>
            </div>
            <div id="flavor-box-4" class="col-1-of-4 feature-box mobileLook">
                <div id="flavorList4">
                    
                </div>
            </div>
            <!-- <div id="comboDisplay">

            </div> -->
        </div>
        <!-- <div id="comboContainer"> -->
            <!-- <div id="comboDisplay">
                <span id="coolCombo">Cool Combo to try with this flavor:</span>
                <p id="comboName">Johnny Appleseed</p>
                <p id="flavorCombo">Apple + Green Apple</p>
            </div> -->
        <!-- </div> -->
        <div class="customRow">
            <div id="leftButton" class="">
                    <button id="flavorButtonLeft"><i class="fas fa-chevron-circle-left"></i></button>
            </div>
            <div id="rightButton" class="">
                <button id="flavorButtonRight"><i class="fas fa-chevron-circle-right"></i></button>
            </div>
        </div>
            
    </section>

    <section id="floatingCards" class="d-flex">
        <div class="container">
            <h2 class="text-center">Sizes</h2>
            <div class="customRow text-center">
                <div class="col-1-of-3" id="cardOne">
                    <p class="u-bottom-margin-small">Small</p>
                    <div class="floatingCard">
                        <div id="floatingOne" class="card-side card-side-front" onclick="">
                            
                        </div>
                        <div id="floatingOneBack" class="card-side card-side-back d-flex justify-content-center" onclick="">
                            <div class="align-self-center price">$3.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-3" id="cardTwo">
                    <p class="u-bottom-margin-medium">Medium</p>
                    <div class="floatingCard">
                        <div id="floatingTwo" class="card-side card-side-front" onclick="">
                            
                        </div>
                        <div id="floatingTwoBack" class="card-side card-side-back d-flex justify-content-center" onclick="">
                            <div class="align-self-center price">$3.50</div>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-3" id="cardThree">
                    <p class="u-bottom-margin-large">Large</p>
                    <div class="floatingCard">
                        <div id="floatingThree" class="card-side card-side-front" onclick="">
                            
                        </div>
                        <div id="floatingThreeBack" class="card-side card-side-back d-flex justify-content-center" onclick="">
                            <div class="align-self-center price">$4.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="socialMedia" class="section-connect">
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="/images/tropical_sno_background_cropped.mp4" type="video/mp4">
                    Your browser is not supported!
            </video>
        </div>
        <div class="u-center-text"><span>Connect with Us</span></div>
        <div class="u-center-text"> <a href="https://www.facebook.com/RM-Tropical-Sno-Manchester-98654078191/"><i class="fab fa-facebook"></i></a></div>
    </section>

   

</main>




<!-- <section class="grid-test">
    <div class="customRow">
        <div class="col-1-of-2">
            Col 1 of 2
        </div>
        <div class="col-1-of-2">
            Col 1 of 2
        </div>
    </div>

    <div class="customRow">
        <div class="col-1-of-3">
            Col 1 of 2
        </div>
        <div class="col-2-of-3">
            Col 2 of 3
        </div>
        
    </div>
    <div class="customRow">
        <div class="col-1-of-3">
            Col 1 of 2
        </div>
        <div class="col-1-of-3">
            Col 1 of 3
        </div>
        <div class="col-1-of-3">
            Col 1 of 3
        </div>
    </div>
    <div class="customRow">
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
    </div>
    <div class="customRow">
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
        <div class="col-2-of-4">
            Col 2 of 4
        </div>
    </div>
    <div class="customRow">
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
        <div class="col-3-of-4">
            Col 3 of 4
        </div>
    </div>
</section> -->
<% include ../partials/footer %>

