<% include ../partials/header %>

<section id="showcase" class="d-flex justify-content-center align-items-center">
    <!-- <div id="header" class="container text-center text-white"> -->
        <img id="rAndM" src="/images/r&mLogo.png" alt="sas">
        <img src="https://www.tropicalsno.com/wp-content/uploads/header-logo.png" alt="logo">
        <!-- <h1 class="display-1">R&M Tropical Sno</h1>
        <p class="lead">Saint Louis's finest shaved ice!</p> -->
    <!-- </div> -->
</section>

<main>
    <section class="section-about" id="locations">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Locations in St. Louis
            </h2>
        </div>
        
        <div class="customRow">
            <div class="col-1-of-2" id="locationText">
                <div id="starterText">
                    <h3 class="heading-tertiary u-center-text u-margin-bottom-small">
                            We've got one near you!
                    </h3>
                    <p class="paragraph">
                        With 3 locations evenly spread across St. Louis, we're guaranteed to be near you so you can satisfy your shaved ice needs whenever the craving hits!
                    </p>
                </div> 
            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <div class="overlay overlay--p1"></div>
                    <div class="overlay overlay--p2"></div>
                    <div class="overlay overlay--p3"></div>
                    <img src="https://scontent-ams3-1.xx.fbcdn.net/v/t31.0-8/13041350_10153801413508192_625563826682521354_o.jpg?_nc_cat=101&_nc_ht=scontent-ams3-1.xx&oh=ce9b245b4a00e2e043466f1686aa4a65&oe=5D0FDE7A" alt="Manchester" class="composition__photo composition__photo--p1">
                    <img src="https://s3-media2.fl.yelpcdn.com/bphoto/-Kbg7_IUl_byBPYquSrqUw/o.jpg" alt="City" class="composition__photo composition__photo--p2">
                    <img src="https://s3-media3.fl.yelpcdn.com/bphoto/zymx6UhoFVY1yG6KXHfp7Q/o.jpg" alt="placeholder" class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>
    </section>

    <section id="floatingCards" class="d-flex py-3">
        <div class="container">
            <h2 class="text-center display-4">Sizes</h2>
            <div class="row text-center">
                <div class="col-4">
                    <p>Small</p>
                    <div class="floatingCard">
                        <div id="floatingOne" class="card-side card-side-front">
                            
                        </div>
                        <div id="floatingOneBack" class="card-side card-side-back d-flex justify-content-center">
                            <div class="align-self-center price">$2.75</div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <p>Medium</p>
                    <div class="floatingCard">
                        <div id="floatingTwo" class="card-side card-side-front">
                            
                        </div>
                        <div id="floatingTwoBack" class="card-side card-side-back d-flex justify-content-center">
                            <div class="align-self-center price">$3.25</div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <p>Large</p>
                    <div class="floatingCard">
                        <div id="floatingThree" class="card-side card-side-front">
                            
                        </div>
                        <div id="floatingThreeBack" class="card-side card-side-back d-flex justify-content-center">
                            <div class="align-self-center price">$3.75</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>




<!-- <section class="grid-test">
    <div class="customRow">
        <div class="col-1-of-2">
            Col 1 of 2
        </div>
        <div class="col-1-of-2">
            Col 1 of 2
        </div>
    </div>

    <div class="customRow">
        <div class="col-1-of-3">
            Col 1 of 2
        </div>
        <div class="col-2-of-3">
            Col 2 of 3
        </div>
        
    </div>
    <div class="customRow">
        <div class="col-1-of-3">
            Col 1 of 2
        </div>
        <div class="col-1-of-3">
            Col 1 of 3
        </div>
        <div class="col-1-of-3">
            Col 1 of 3
        </div>
    </div>
    <div class="customRow">
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
    </div>
    <div class="customRow">
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
        <div class="col-2-of-4">
            Col 2 of 4
        </div>
    </div>
    <div class="customRow">
        <div class="col-1-of-4">
            Col 1 of 4
        </div>
        <div class="col-3-of-4">
            Col 3 of 4
        </div>
    </div>
</section> -->
<% include ../partials/footer %>

