.composition {
    position: relative;

    @include respond(phone) {
        position: static;
    }
    // .overlay {
    //     width: 55%;
    //     position: absolute;
    //     background-color: rgba(0, 0, 0, .5);
        
    //     z-index: 10;

    //     &--p1 {
    //         left: 0;
    //         top: -2rem;
    //         height: 20rem;
    //     }

    //     &--p2 {
    //         right: 0;
    //         top: 2rem;
    //         height: 20rem;
    //     }

    //     &--p3 {
    //         left: 20%;
    //         top: 10rem;
    //         height: 22rem;
    //     }
    // }

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;

            &:hover {
                outline: 1.5rem solid $color-primary;
            }

            @include respond(phone) {
                top: 32rem;
            }
        }

        &--p2 {
            right: 0;
            top: 2rem;
            
            &:hover {
                outline: 1.5rem solid $color-secondary;
            }

            @include respond(phone) {
                top: 33rem;
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;

            &:hover {
                outline: 1.5rem solid $color-tertiary;
            }

            @include respond(phone) {
                top: 42rem;
            }
        }

        &:hover {
            
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
        z-index: 1;
    }
}

iframe {
    display: block;
    text-align: center;
    position: relative;
    margin: 0 auto;
}