#flavors {
    padding-top: 20rem;
    padding-bottom: 2rem;
    background: linear-gradient(to bottom right, rgba($color-primary, 0.5), rgba(25, 103, 180, 0.5)), url('/images/snowCone.jpg') center/cover no-repeat;
    min-height: 90vh;
    max-height: 130vh;
    position: relative;
    margin-top: -7.5rem;

    transform: skewY(-7deg);

    .feature-box {
        background-color: rgba($color-grey-light-1, 0.5);
        padding: 2.5rem;
        height: 36rem;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);

        text-align: center;
        transform: skewY(7deg);

        p {
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 0.3rem;
            // text-shadow: 1px 1px rgba(0, 0, 0, .5);
            transition: all .1s;

            &:hover {
                transform: scale(2) skewY(-7deg);
                
            }            
        }
        
    }
    #comboContainer {
        display: block;
    }

    #comboDisplay {
        background-color: rgba($color-tertiary, .8);
        border-radius: 3px;
        display: block;
        width: 40vw;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        

        span {
            color: white;
            font-size: 3rem;
            text-decoration: underline;
        }
        
            #comboName {
                color: white;
                font-size: 2rem;
            }

            #flavorCombo {
                color: white;
                font-size: 2rem;
            }
            p {
                font-weight: 700;
                letter-spacing: 0.3rem;
            }
    }
    h3 {
        font-size: 10rem;
        color: white;
        text-shadow: 7px 7px rgba(0, 0, 0, .5);

        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    h4 {
        font-size: 2rem;
        color: white;
        display: inline-block;

        position: absolute;
        top: 13rem;
        left: 50%;
        transform: translateX(-50%);
    }
}


.red {
    color: rgba(0, 0, 0, .5);
    &:hover {
        color: red;
    }   
}

.pink {
    color: rgba(0, 0, 0, .5);
    &:hover {
        color: #ff69b4;
    }
}

.yellow {
    color: rgba(0, 0, 0, .5);
    &:hover {
        color: yellow;
    }
}

.white {
    &:hover {
        color: snow;
    }
    color:rgba(0, 0, 0, .5);
}

.blue {
    color: rgba(0, 0, 0, .5);
    &:hover {
        color: blue;
    }
}

.purple {
    color: rgba(0, 0, 0, .5);
    &:hover {
        color: purple;
    } 
}

.green {
    color: rgba(0, 0, 0, .5);
    &:hover {
        color: lime;
    } 
}

.orange {
    color: rgba(0, 0, 0, .5);
    &:hover {
        color: orange;
    } 
}

.brown {
    color: rgba(0, 0, 0, .5);
    &:hover {
        color: #8B4513;
    } 
}

.darkRed {
    color: rgba(0, 0, 0, .5);
    &:hover {
        color: DarkRed;
    }
}


// @keyframes pulse {
//     0% {
//       -webkit-transform: scale(2);
//       transform: scale(2);
//     }
  
//     50% {
//       -webkit-transform: scale(1);
//       transform: scale(1);
//     }
  
//     100% {
//       -webkit-transform: scale(2);
//       transform: scale(2);
//     }
//   }
  
//   .pulse {
//     -webkit-animation-name: pulse;
//     animation-name: pulse;
//     animation-duration: 3s;
//   }